// base
.full{
	width:100%;
}
a{
	text-decoration: underline;
}
h1,h2,h3,h4,h5{
	font-family: 'Archivo Black',"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,"ＭＳ Ｐゴシック",sans-serif;
	letter-spacing: -2px;
}
h2{
	color: $secondary-color; 
}
	p,li{
		font-size: 0.875rem;
	}
// Layout
.main-img{
	margin-bottom: 50px;
}
.ticket{
	background-color: #fcf1ce;
	padding: 20px;
	a{
		margin: 0;
	}
	h2{
		color: #FFF;
		margin: 0;
		padding: 0; 
	}
}
// module
.l-title{
	padding-top: 50px;
	margin-bottom: 20px;
	h2{
		margin: 0;
		padding-top: 10px;
		font-size: 5rem;
		color: $secondary-color;
	}
	h4{
		font-size: 0.875rem;
		color: $secondary-color; 
	}
}
.s-title{
	border-left: 8px solid $primary-color;
	padding: 5px 0 5px 15px;
	span{
		margin-left: 20px;
		font-size: 0.875rem;
	}
}

.prof{
	border-bottom: 1px solid #ccc; 
	margin-bottom: 10px;
	.left.grav{
		margin-right: 10px;
	}
	.prof-right{
		overflow: hidden;
	}
}
.prof.last{
	border:none;
}
// state

// theme