// base
.full{
	width:100%;
}
a:hover{
	text-decoration: underline;
}
p,li{
	font-size: 0.875rem;
}
hr{
	color: #ADA598; 
}
// Layout
.main-img{
	margin-bottom: 50px;
}
.ticket{
	background-color: #e6e2de;
	padding: 20px;
	a{
		margin: 0;
	}
	h2{
		color: #FFF;
		margin: 0;
		padding: 0; 
	}
}
.banner img,
img.banner{
	margin-bottom: 20px;
}
.horizon li{
	display: inline;
	margin-right: 20px;
}
.front{
	h3{
		color: $secondary-color;
		border-bottom: 1px solid #d8cebe;
		-webkit-box-shadow: 0 1px 0 #f2efea;
		box-shadow: 0 1px 0 #f2efea;
	}
}
// module
.main-img{
	background-color: #940E83; 
	background-image: url(../img/main.png);
	background-position: center top;
	height: 300px;
	.main-img-title{
		padding: 30px;
		margin-top: 20px;
		background-color: rgba(88, 8, 85, 0.6);
		h1,h2{
			margin-top: 0;
			color: #FFF;
		}
		h3{
			color: #E27A7A;
			margin-bottom: 0;
			span{
				font-size: 1rem;
			}
		}
		p{
			color: #DFB0B0; 
		}
	}
}

.main-img.next{
	background-color: #fff; 
	background-image: url(../img/next-summer.jpg);
	.main-img-title{
		background-color: rgba(255, 255, 255, 0.6);
		h1,h2{
			color: #000;
		}
		h3{
			color: #000;
		}
		p{
			color: #000; 
		}
	}
}
.l-title{
	padding-top: 50px;
	margin-bottom: 20px;
	h2{
		margin: 0;
		padding-top: 10px;
		font-size: 2.5rem;
		color: $secondary-color;
	}
	h4{
		font-size: 0.875rem;
		color: $secondary-color; 
	}
}
.s-title{
	border-left: 8px solid $primary-color;
	padding: 5px 0 5px 15px;
	span{
		margin-left: 20px;
		font-size: 0.875rem;
	}
}
.prof{
	border-bottom: 1px solid #d8cebe;
	-webkit-box-shadow: 0 1px 0 #f2efea;
	box-shadow: 0 1px 0 #f2efea;
	margin-bottom: 10px;
	.left.grav{
		margin-right: 10px;
	}
	.prof-right{
		overflow: hidden;
	}
}
.prof.last{
	border:none;
	box-shadow: none;
	margin-bottom: none;
}
@media screen and (max-width: 40em) {
	.main-img{
		background-color: #940E83; 
		background-image: url(../img/mainsp.png);
		height: 400px;
	}	
	.prof.last{
		border-bottom: 1px solid #d8cebe;
		box-shadow: 0 1px 0 #f2efea;
		margin-bottom: 10px;
	}
	h3{
		span{
			display: block;
		}
	}
	.s-title span{
		margin-left: 0;
	}
}
// state
#pageTop{
	background:#ccc;
	border-radius:5px;
	color:#FFF;
	padding:10px;
	position:fixed;
	bottom:20px;
	right:20px;
	:hover{
	background:#444;
	}
}

// theme